{
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.scss", "*.sass", "*.css"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false
      }
    }
  ]
}

