@mixin kauri-typography-desktop-display-lg {
  font-family: var(--font-pp-agrandir), sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-display-md {
  letter-spacing: 0px;
  line-height: 125%;
  font-size: 56px;
  font-weight: 500;
  font-family: var(--font-pp-agrandir), sans-serif;
}
@mixin kauri-typography-desktop-display-sm {
  font-family: var(--font-pp-agrandir), sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-headline-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-headline-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-headline-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-headline-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-headline-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-title-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-title-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-title-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-title-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-title-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-body-regular-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-body-regular-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-body-regular-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-body-semibold-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-body-semibold-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-body-semibold-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-label-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-label-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-label-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-label-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-label-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-desktop-paragraph-regular-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-paragraph-regular-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-paragraph-regular-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-paragraph-semibold-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-paragraph-semibold-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-desktop-paragraph-semibold-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-display-lg {
  font-family: var(--font-pp-agrandir), sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-display-md {
  letter-spacing: 0px;
  line-height: 125%;
  font-size: 48px;
  font-weight: 500;
  font-family: var(--font-pp-agrandir), sans-serif;
}
@mixin kauri-typography-tablet-display-sm {
  font-family: var(--font-pp-agrandir), sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-headline-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-headline-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-headline-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-headline-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-headline-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-title-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-title-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-title-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-title-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-title-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-body-regular-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-body-regular-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-body-regular-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-body-semibold-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-body-semibold-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-body-semibold-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-label-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-label-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-label-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-label-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-label-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-tablet-paragraph-regular-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-paragraph-regular-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-paragraph-regular-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-paragraph-semibold-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-paragraph-semibold-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-tablet-paragraph-semibold-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-display-lg {
  font-family: var(--font-pp-agrandir), sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-display-md {
  letter-spacing: 0px;
  line-height: 125%;
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-pp-agrandir), sans-serif;
}
@mixin kauri-typography-mobile-display-sm {
  font-family: var(--font-pp-agrandir), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-headline-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-headline-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-headline-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-headline-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-headline-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-title-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-title-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-title-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-title-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-title-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-body-regular-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-body-regular-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-body-regular-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-body-semibold-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-body-semibold-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-body-semibold-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-label-xl {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-label-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-label-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-label-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-label-xs {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0px;
}
@mixin kauri-typography-mobile-paragraph-regular-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-paragraph-regular-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-paragraph-regular-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 420;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-paragraph-semibold-lg {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-paragraph-semibold-md {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
@mixin kauri-typography-mobile-paragraph-semibold-sm {
  font-family: var(--font-inter-variable), sans-serif;
  font-weight: 580;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.2px;
}
