.navbar{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    background: white;
    height: 72px;
    border-bottom: 1px solid #D6DBDE;
    font-size: 16px;

    &__left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            height: 64px;
        }
    }

    &__menu {
        display: flex;
        gap: 24px;
    }

    &__icon {
        font-size: 12px;
    }

    &__link {
        text-decoration: none;
        color: $kiwi-colors-surface-on-surface;
        font-weight: 500;
        position: relative;
        display: flex;
        gap: 15px;
    }



    &__actions {
        margin-left: auto;
        display: flex;
        gap: 12px;
        align-items: center;

        h3 {
            color: #D6DBDE;
            padding-left: 12px;
        }

    }

    .btn {
        padding: 8px 16px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        background: $kiwi-colors-core-primary;
        color: white;
    }
}